*::before, *::after, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Reusable Styles */

:root {
    --background: rgb(229, 245, 240);
    --accent: #324849;
    --secondary-accent: #e8e2e2;
    --third-accent: #5b8486;
    --text: #283636;
    --family-1: 'Ruslan Display', cursive;
    --family-2: 'Limelight', cursive;
    --family-5: 'Poppins', sans-serif;
    --Girassol: 'Girassol', cursive;
    --Montserrat: 'Montserrat', sans-serif;
    --Rubik: 'Rubik', sans-serif;
    --bungee: 'Bungee', cursive;
    --graduate: 'Graduate', cursive;
}

.container {
    max-width: 1400px;
    justify-content: center;
    width: 100%;
}

.container-small {
    max-width: 700px;
}


.hidden {
    display: none;
}

/* Header */

body {
    position: relative;
}

header {
    height: 300px;
    display: flex;
    justify-content: center;
    color: var(--text);
    position: relative;
    width: 100%;
    background-image: url('/cb_images/circle-4\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.flex {
    padding: 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #283636;
}

.logo h3 {
    padding-top: 0.3em;
    padding-left: 0.5em;
    font-size: 30px;
    font-family: var(--family-2);
}

.nav {
    display: flex;
    list-style: none;
    max-width: 1300px;
}

.list-item {
    text-decoration: none;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display: inline-block;
    position: relative;
    padding: 1em 0em;
    margin: 0em 1em;
}

.list-item::before {
    content: "";
    height: 4px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transition: 300ms;
    position: absolute;
    background-color: var(--accent);
    left: 0;
}

.list-item:hover::before {
    bottom: 5px;
    opacity: 1;
}


.listy + .listy {
    margin-left: 1em;
}

.hamburger {
    display: none;
}




/* Button */

.abs-butt {
    position: absolute;
    top: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.abs-butt a {
    padding: 1em 3em;
    background-color: var(--accent);
    text-decoration: none;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 300ms;
    border: 1px solid var(--accent);
}

.abs-butt a:hover {
    background-color: #ffff;
    color: var(--accent);
    border: 1px solid var(--accent);
}




/* Hero */

.rest {
    background-color: var(--secondary-accent);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-wrap {
    display: flex;
    padding: 5em 2em;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    max-width: 275px;
    background-color: #ffff;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid black;
}

.card h2 {
    font-family: var(--family-2);
    display: flex;
    justify-content: center;
    padding: 0.3em 0em;
    font-size: 40px;
    width: 100%;
    background-color: var(--third-accent);
    border-radius: 4px 4px 0px 0px;
    color: var(--secondary-accent);
}

.card h3 {
    display: flex;
    justify-content: center;
    padding: 1em 1em 2em;
    font-weight: 200;
    font-size: 14px;
    align-items: center;
}

.price-size {
    padding: 0em 0.3em;
    /* font-weight: bold; */
    font-size: 35px;
    font-family: var(--family-1);

}

.fubo-img {
    width: 170px;
    height: 60px;
    padding: 0.4em 0em;
    object-fit: cover;
    transition: 500ms;
    border-radius: 5px 0px 5px 0px;
    opacity: 0.9;
    cursor: pointer;
}


.card__price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card Logo */

.logo-sec {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 0;
    transition: 400ms;
    border-radius: 5px 0px 5px 0px;
    margin-top: 1em;
    /* border: 1px solid rgb(128, 128, 128); */
    margin-bottom: 2em;
}

/* .logo-sec:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px black;
} */

/* Card Ticker */

.ticker-sec {
    font-family: var(--family-1);
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2em;
}

.ticker-wrap {
    /* border: 1px solid rgb(128, 128, 128); */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.8em 1em 0.8em 1.5em;
}

.ticker-sec h3 {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 0em;
}

/* Card Price */

.price-section {
    display: flex;
    font-family: var(--family-1);
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
}

.price-section__title {
    border: 1px solid rgb(128, 128, 128);
    width: 80%;
    padding: 0.3em;
    background-color: #e7e7e7;
}

.price-section__price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
    width: 80%;
    border-radius: 0px 0px 6px 6px;
}

.price-section__title h3 {
    padding: 0em;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 3em 0em;
    background-color: #5b8486;
}

.gr {
    display: flex;
    flex-direction: column;
    padding: 0em 3em;
    align-items: center;
}

.item {
    margin: 0.5em 0em;
    text-decoration: none;
    color: black;
    font-family: var(--family-5);
    font-size: 14px;
    color: #ffff;
    transition: 300ms;
}

.item:hover {
    color: #324849;
}

.cr {
    width: 100%;
    background-color: #5b8486;
    padding: 0em 0em 2em 0em;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: var(--family-5);
    font-size: 14px;
}

/* SLIDING MENU FOR MOBILE */

.menu-tab {
    position:fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: 800ms;
}

.tab-list-item {
    text-decoration: none;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding: 1.4em 0em 1em;
    margin: 0em 1em;
}

.new-nav {
    display: flex;
    width: 100%;
    padding: 2em 0em;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.tab-list-item::before {
    content: "";
    height: 3px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transition: 300ms;
    position: absolute;
    background-color: var(--accent);
    left: 0;
}

.tab-list-item:hover::before {
    bottom: 7px;
    opacity: 1;
}

.close {
    display: flex;
    justify-content: end;
    margin: 0.8em 1.5em;
    font-size: 38px;
    transition: 300ms;
}

.close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.is-active {
    left: 0%;
}

.card svg {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #5b8486;
    justify-content: center;
}


.rst {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #d4d8d9;
}


/* COST BASIS SECTION */

.table {
    width: 90%;
    max-width: 1100px;
    background-color: #eeeeee;
    min-height: 650px;
    margin: 5em 0em;
    border-radius: 4px;
    padding: 4em;
    display: flex;
    justify-content: space-between;
}

.table__left {
    background-color: #fff;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

.table__left h3 {
    font-family: var(--Montserrat);
    background-color: #d1d1d1;
    padding: 0.5em 0em;
    margin-bottom: 0.8em;
    text-align: center;
    transition: 300ms;
    cursor: pointer;
    color: #324849;
}

.idle {
    width: 85%;
    border-radius: 9px;
}

.active {
    width: 105%;
    margin-left: 2.5em;
    border-radius: 9px 9px 0px 9px;
}

.table__left h4 {
    font-family: var(--Montserrat);
    width: 20%;
    font-size: 30px;
    background-color: #e7e7e7;
    text-align: center;
    padding: 0.1em 0em;
    color: #49494973;
    margin-bottom: 0.8em;
    border-radius: 9px;
    cursor: pointer;
}


.table__right {
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.table__right h2 {
    font-family: var(--bungee);
    color: #324849;
    font-size: 32px;
    line-height: 1em;
    padding-bottom: 0.5em;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #e7e7e7;
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324849;
    padding: 3em 2em;
}

.call-to-action {
    height: 100%;
    color: #fff;
    width: 70%;
}

.call-to-action h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    padding-bottom: 1em;
}

.call-to-action p {
    font-family: var(--family-5);
}

.right {
    display: flex;
}

.call-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    align-items: center;
    padding: 0em 1em;
}

.call-buttons a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 1em 0em;
    padding: 1em 0em;
    width: 100%;
    font-weight: bold;
    background-color: var(--third-accent);
    transition: 400ms;
    border: 1px solid var(--third-accent);
}

.call-buttons a:hover {
    background-color: var(--secondary-accent);
    color: black;
    border: 1px solid black;
}

/* STOCK DETAILS PORTION */

.basis-details {
    display: flex;
}

.details__shares {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--graduate);
    margin-top: 2em;
}

.details__shares h4 {
    border-bottom: 3px solid black;
    padding-bottom: 0.4em;
    margin-bottom: 0.8em;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    width: 140px;
}

.details__shares + .details__shares {
    margin-left: 1.5em;
}

.details__shares h3 {
    font-weight: 100;
    font-size: 13px;
}

/* PIE CHART AND KEYS  */

.pie-sec {
    margin-top: 3em;
    display: flex;
    align-items: center;
}

.pie {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-right: 3em;
}

.color-1 {
    font-family: var(--Montserrat);
    display: flex;
    margin-bottom: 0.5em;
}

.one-block {
    height: 20px;
    width: 20px;
    background-color: var(--third-accent);
    margin-right: 0.5em;
}

.two-block {
    height: 20px;
    width: 20px;
    background-color: #1cd0bb;
    margin-right: 0.5em;
}

.three-block {
    height: 20px;
    width: 20px;
    background-color: #ffa400;
    margin-right: 0.5em;
}


@media (max-width: 750px) {
    .card-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-top: 5em;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .card {
        width: 90%;
        max-width: 350px;
        margin-bottom: 2em;
    }
    .card-wrap {
        width: 100%;
        padding: 0em;
    }

    .caravan {
        display: flex;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 550px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0em 4em;
    }

    .gr {
        padding: 1em 0em;
    }
    .item {
        display: flex;
        justify-content: center;
    }

    .container-small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .call-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-top: 1em;
    }

    .call-buttons a {
        width: 55%;
    }
}

