*::before, *::after, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Reusable Styles */

:root {
    --background: rgb(229, 245, 240);
    --accent: #324849;
    --secondary-accent: #e8e2e2;
    --third-accent: #5b8486;
    --text: #283636;
    --family-1: 
    --family-2: 'Limelight', cursive;
    --family-5: 'Poppins', sans-serif;
    
}

.container {
    max-width: 1400px;
    justify-content: center;
    width: 100%;
}

.container-small {
    max-width: 700px;
}


.hidden {
    display: none;
}

/* Header */

body {
    position: relative;
}

header {
    height: 300px;
    display: flex;
    justify-content: center;
    color: var(--text);
    position: relative;
    width: 100%;
    background-image: url('/cb_images/circle-4\ 1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


.flex {
    padding: 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #283636;
}

.logo h3 {
    padding-top: 0.3em;
    padding-left: 0.5em;
    font-size: 30px;
    font-family: var(--family-2);
}

.nav {
    display: flex;
    list-style: none;
    max-width: 1300px;
}

.list-item {
    text-decoration: none;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: relative;
    padding: 1em 0em;
    margin: 0em 1em;
}

.list-item::before {
    content: "";
    height: 3px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transition: 300ms;
    position: absolute;
    background-color: var(--accent);
    left: 0;
}

.list-item:hover::before {
    bottom: 7px;
    opacity: 1;
}


.listy + .listy {
    margin-left: 1em;
}

.hamburger {
    display: none;
}




/* Button */

.abs-butt {
    position: absolute;
    top: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.abs-butt a {
    padding: 1em 3em;
    background-color: var(--accent);
    text-decoration: none;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 300ms;
    border: 1px solid var(--accent);
}

.abs-butt a:hover {
    background-color: #ffff;
    color: var(--accent);
    border: 1px solid var(--accent);
}




/* Hero */

.rest {
    background-color: var(--secondary-accent);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-wrap {
    display: flex;
    padding: 10em 2em;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    max-width: 250px;
    background-color: #ffff;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid black;
}

.content {
    height: 150px;
}

.card h2 {
    font-family: var(--family-2);
    display: flex;
    justify-content: center;
    padding: 0.3em 0em;
    font-size: 40px;
    width: 100%;
    background-color: var(--third-accent);
    border-radius: 4px 4px 0px 0px;
    color: var(--secondary-accent);
}

.card h3 {
    display: flex;
    justify-content: center;
    padding: 1em 1em 2em;
    font-weight: 200;
    font-size: 14px;
    align-items: center;
}

.price-size {
    padding: 0em 0.3em;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;

}

.fubo-img {
    width: 190px;
    height: 70px;
    object-fit: cover;
    border-radius: 0px;
    transition: 500ms;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.9;
    margin-bottom: 1em;
    cursor: pointer;
}

.fubo-img:hover {
    translate: -5px -5px;
    box-shadow: 5px 5px black;
}

.logo-sec {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1.5em;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 3em 0em;
    background-color: #5b8486;
}

.gr {
    display: flex;
    flex-direction: column;
    padding: 0em 3em;
    align-items: center;
}

.item {
    margin: 0.5em 0em;
    text-decoration: none;
    color: black;
    font-family: var(--family-5);
    font-size: 14px;
    color: #ffff;
    transition: 300ms;
}

.item:hover {
    color: #324849;
}

.cr {
    width: 100%;
    background-color: #5b8486;
    padding: 0em 0em 2em 0em;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: var(--family-5);
    font-size: 14px;
}

.menu-tab {
    position:fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: 800ms;
}

.tab-list-item {
    text-decoration: none;
    color: var(--text);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    position: relative;
    padding: 1.4em 0em 1em;
    margin: 0em 1em;
}

.new-nav {
    display: flex;
    width: 100%;
    padding: 2em 0em;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.tab-list-item::before {
    content: "";
    height: 3px;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    transition: 300ms;
    position: absolute;
    background-color: var(--accent);
    left: 0;
}

.tab-list-item:hover::before {
    bottom: 7px;
    opacity: 1;
}

.close {
    display: flex;
    justify-content: end;
    margin: 0.8em 1.5em;
    font-size: 38px;
    transition: 300ms;
}

.close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.is-active {
    left: 0%;
}

.card svg {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #5b8486;
    justify-content: center;
}


.rst {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #d4d8d9;
}

.table {
    width: 90%;
    max-width: 1100px;
    background-color: #fff;
    height: 500px;
    margin: 4em 0em;
    border-radius: 4px;
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #324849;
    padding: 3em 2em;
}

.call-to-action {
    height: 100%;
    color: #fff;
    width: 70%;
}

.call-to-action h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;';
    font-size: 19px;
    padding-bottom: 1em;
}

.call-to-action p {
    font-family: var(--family-5);
}

.right {
    display: flex;
}

.call-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
    padding: 0em 2em;
}

.call-buttons a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 1em 0em;
    padding: 1em 0em;
    width: 100%;
    font-weight: bold;
    background-color: var(--third-accent);
    
}

@media (max-width: 750px) {
    .card-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-top: 5em;
    }

    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .card {
        width: 90%;
        max-width: 350px;
        margin-bottom: 2em;
    }
    .card-wrap {
        width: 100%;
        padding: 0em;
    }

    .caravan {
        display: flex;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 550px) {
    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0em 4em;
    }

    .gr {
        padding: 1em 0em;
    }
    .item {
        display: flex;
        justify-content: center;
    }
}

